@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 20% 98%;
    --foreground: 220 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 23%;
    --primary: 151 49% 46%;
    --primary-foreground: 151 49% 96%;
    --secondary: 215 20% 93%;
    --secondary-foreground: 215 10% 23%;
    --muted: 215 20% 96%;
    --muted-foreground: 215 10% 45%;
    --accent: 151 49% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 90%;
    --input: 215 20% 90%;
    --ring: 151 49% 46%;
    --chart-1: 151 70% 50%;
    --chart-2: 181 70% 50%;
    --chart-3: 101 70% 50%;
    --chart-4: 41 70% 50%;
    --chart-5: 21 70% 50%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 220 10% 10%;
    --foreground: 220 20% 98%;
    --card: 220 10% 15%;
    --card-foreground: 220 20% 98%;
    --popover: 220 10% 15%;
    --popover-foreground: 220 20% 98%;
    --primary: 151 49% 46%;
    --primary-foreground: 151 49% 96%;
    --secondary: 215 10% 25%;
    --secondary-foreground: 215 20% 98%;
    --muted: 215 10% 25%;
    --muted-foreground: 215 10% 65%;
    --accent: 151 49% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 10% 25%;
    --input: 215 10% 25%;
    --ring: 151 49% 46%;
    --chart-1: 151 70% 60%;
    --chart-2: 181 70% 60%;
    --chart-3: 101 70% 60%;
    --chart-4: 41 70% 60%;
    --chart-5: 21 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
